:root{
    --grid-rows: 1; 
    --grid-columns: 1;
}

* {
    margin: 0;
}
.header{
    text-align: center;
    margin: 30px 20% 40px 20%; 
    padding: 30px; 
    max-width: 75%;
}
#clear{grid-area: clear;}
#create-grid{grid-area: create;}
#rainbow{grid-area: rainbow;}
#surprise{grid-area: surprise;}

.options1 {
    grid-area: controls;
    display: grid;
    grid-template: 
        'clear create'
        'rainbow surprise'
    ;
    width: 110%;
    height: 20%;
    position: relative;
    right: 40px;
}
.options2 {
    grid-area: colors;
    position: relative;
    left: 55px;

}
.draw-area {grid-area: draw;}

#container {
    display: grid;
    grid-template-areas: 
        'controls controls draw draw colors colors'
        'controls controls draw draw colors colors'
        'controls controls draw draw colors colors'
    ;
    grid-gap: 10px;
    max-width: 80%;
    align-content: center;
    position: absolute;
    left: 120px;
}

.select, #pkr-button {
    width: 85px; 
    height: 35px; 
    /* margin: 10px; */
    display: list-item;
    list-style: none;
}

#pkr-button {
    width: 180px;
    grid-area: picker;
}

#color1{grid-area: color1;}
#color2{grid-area: color2;}
#color3{grid-area: color3;}
#color4{grid-area: color4;}
#color5{grid-area: color5;}
#color6{grid-area: color6;}

#presets {
    display: grid;
    align-content: center;
    grid-template-areas: 
        'picker picker picker'
        'color1 color2 color3'
        'color4 color5 color6'
    ;
    grid-gap: 0px;
}

.clr-pick {
    height: 35px;
    width: 35px;
    margin-right: 38px;
    margin-top: 20px;
    background-color: blue;
}



#grid-container {
    display: grid;
    position: relative;
    left: 20px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    width: 625px; 
    height: 625px;
    background-color: transparent;
    align-content: center;
    /* margin: 0 40px 0 40px; */
    /* margin-left: 88px; */
}

.grid-item{ 
    border: 1px dashed black;
    width: 1fr;
    height: 1fr;
    background: transparent;
}