:root{
    --grid-rows: 1; 
    --grid-columns: 1;
}

* {
    margin: 0;
}
.header{
    text-align: center;
    margin: 30px 20% 40px 20%; 
    padding: 30px; 
    max-width: 75%;
}
#clear{grid-area: clear;}
#create-grid{grid-area: create;}
#rainbow{grid-area: rainbow;}
#surprise{grid-area: surprise;}

.options1 {
    grid-area: controls;
    display: grid;
    grid-template: 
        'clear create'
        'rainbow surprise'
    ;
    width: 110%;
    height: 20%;
    position: relative;
    right: 20px;
}
.options2 {grid-area: colors;}
.draw-area {grid-area: draw;}

#container {
    display: grid;
    grid-template-areas: 
        'controls controls draw draw colors colors'
        'controls controls draw draw colors colors'
        'controls controls draw draw colors colors'
    ;
    grid-gap: 10px;
    max-width: 80%;
    align-content: center;
    position: absolute;
    left: 120px;
}

.select, #pkr-button {
    width: 85px; 
    height: 35px; 
    /* margin: 10px; */
    display: list-item;
    list-style: none;
}

.clr-pick {
    height: 10px;
    width: 10px;
    margin: 25px;
    background-color: blue;
}



#grid-container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    width: 700px; 
    height: 700px;
    background-color: transparent;
    align-content: center;
    /* margin-left: 88px; */
}

.grid-item{ 
    border: 1px dashed black;
    width: 1fr;
    height: 1fr;
    background: transparent;
}